<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
	<link rel="shortcut icon" href="{{ url_for('static', filename='img/fav.png') }}">
	<!-- Author Meta -->
	<meta name="author" content="CodePixar">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->
	<title>{% block title %}Title{% endblock %}</title>
	<!--
		CSS
		============================================= -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/linearicons.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/themify-icons.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/nice-select.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/nouislider.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/ion.rangeSlider.css') }}" />
	<link rel="stylesheet" href="{{ url_for('static', filename='css/ion.rangeSlider.skinFlat.css') }}" />
	<link rel="stylesheet" href="{{ url_for('static', filename='css/magnific-popup.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/croppie.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/toastr.min.css') }}">
	<style>
		a{
			cursor: pointer;
		}

		@keyframes bounce { 
		0% { transform: translateY(0); }
		100% { transform: translateY(-10px); }
		}
		.bounce {
		animation: bounce 1s;
		animation-direction: alternate;
		animation-iteration-count: infinite;
		}

		.owl-nav{
    	top: 469px;
		}
	</style>
</head>

<body>

	<!-- Start Header Area -->
	{% include 'header.html' %}
    <!-- End Header Area -->
    


	{% block body %}

	{% endblock %}
    
	<!-- start footer Area -->
	{% include 'footer.html' %}
	<!-- End footer Area -->

	<script src="{{ url_for('static', filename='js/vendor/jquery-2.2.4.min.js' ) }}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
	 crossorigin="anonymous"></script>
	<script src="{{ url_for('static', filename='js/vendor/bootstrap.min.js' ) }}"></script>
	<script src="{{ url_for('static', filename='js/jquery.ajaxchimp.min.js' ) }}"></script>
	<script src="{{ url_for('static', filename='js/jquery.nice-select.min.js' ) }}"></script>
	<script src="{{ url_for('static', filename='js/jquery.sticky.js' ) }}"></script>
	<script src="{{ url_for('static', filename='js/nouislider.min.js' ) }}"></script>
	<script src="{{ url_for('static', filename='js/countdown.js' ) }}"></script>
	<script src="{{ url_for('static', filename='js/jquery.magnific-popup.min.js' ) }}"></script>
	<script src="{{ url_for('static', filename='js/owl.carousel.min.js' ) }}"></script>
	<!--gmaps Js-->
	<!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE&callback=initMap"></script> -->
	<script src="{{ url_for('static', filename='js/gmaps.min.js' ) }}"></script>
	<script src="{{ url_for('static', filename='js/main.js' ) }}"></script>
	<!-- ui and alerts -->
	<script src="{{ url_for('static', filename='js/sweetalert.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/croppie.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/toastr.min.js') }}"></script>
	    <script>
            toastr.options = {
        "closeButton": true,
        "debug": false,
        "newestOnTop": false,
        "progressBar": true,
        "positionClass": "toast-top-center",
        "preventDuplicates": true,
        "onclick": null,
        "showDuration": "300",
        "hideDuration": "10",
        "timeOut": "5000",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
    }
    </script>
	{% block scripts %}
	
	{% endblock %}
</body>

</html>