<section class="owl-carousel active-product-area section_gap">
    <!-- single product slide -->
    <div class="single-product-slider">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 text-center">
                    <div class="section-title">
                        <h1>All Procucts</h1>
                        <p>This is a list of all the products in the shop</p>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for product in products %}
                                    <!-- single product -->
                                    <div class="col-lg-3 col-md-6">
                                        <div class="single-product">
                                            <img class="img-fluid" src="{{ url_for('static', filename='productuploads/'+product.images[0].name) }}" alt="">
                                            <div class="product-details">
                                                <h6>{{product.title}}</h6>
                                                <div class="price">
                                                    <h6>${{product.price}}</h6>
                                                    <h6 class="l-through">${{product.price+product.price*0.1}}</h6>
                                                </div>
                                                <div class="prd-bottom">
                
                                                    <a class="add-to-cart-button social-info" id="{{ product.product_id }}">
                                                        <span class="ti-bag"></span>
                                                        <p class="hover-text">add to bag</p>
                                                    </a>
                                                    <a href="{{url_for('shop.single_product', product_id=product.product_id)}}" class="social-info">
                                                        <span class="lnr lnr-move"></span>
                                                        <p class="hover-text">view more</p>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                {% endfor %}

            </div>
        </div>
    </div>
    <!-- single product slide -->
    <div class="single-product-slider">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 text-center">
                    <div class="section-title">
                        <h1>Recommended Products</h1>
                        <p>These are products specially recommended for you based on the general popularity on the platform</p>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for product in recommended %}
                <!-- single product -->
                <div class="col-lg-3 col-md-6">
                    <div class="single-product">
                        <img class="img-fluid" src="{{ url_for('static', filename='productuploads/'+product.images[0].name) }}" alt="">
                        <div class="product-details">
                            <h6>{{product.title}}</h6>
                            <div class="price">
                                <h6>${{product.price}}</h6>
                                <h6 class="l-through">${{product.price+product.price*0.1}}</h6>
                            </div>
                            <div class="prd-bottom">

                                <a class="add-to-cart-button social-info" id="{{ product.product_id }}">
                                    <span class="ti-bag"></span>
                                    <p class="hover-text">add to bag</p>
                                </a>
                                <a href="{{url_for('shop.single_product', product_id=product.product_id)}}" class="social-info">
                                    <span class="lnr lnr-move"></span>
                                    <p class="hover-text">view more</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
{% endfor %}
            </div>
        </div>
    </div>
</section>

